<h1>Paises list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pais</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('paises_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.pais }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('paises_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

