<h1>Paises</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Pais</th>
            <td>{{ entity.pais }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('paises') }}">
            Back to the list
        </a>
    </li>
</ul>
