<a {% for attr, value in options %} 
     {% if attr!='href' %}
          {{ attr }}="{{ value }}"
     {% else %}
          onClick="listar_usuarios('{{ value }}');"
     {% endif %}
   {% endfor %}
>
   {{ title }}
</a>